<!-- /templates/layout.html  -->

<!doctype html>
<html lang="en">
<head>
  <title>WSB-Data Analytics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>


<!-- style="background-color: rgb(185, 215, 234);" background-color: rgb(185, 215, 234); style="background-color: rgb(247, 251, 252);"-->


<div class="container text-center" style="margin-bottom:0; height: 100%;">
  <h1>r/WallStreetBets - Data Analytics</h1>
  <h3>We're just getting started.</h3>
  <p></p> 
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:8px 0;">
  <a class="navbar-brand" href="https://github.com/kingshark14/wallstreetanalytics" target="_blank">Git Repo</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/CathieWoods">CathieWoods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="/#">TBD</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
    </form>
  </div>
</nav>


<div class="container" style="padding-right: 15px;padding-left: 15px;margin-top:15px;margin-right: auto;margin-left: auto;"  id="page-container">
  <div class="row">
    <div class="col-xs-3 col-md-2">
    </div>
    <div class="col-xs-6 col-md-8" style="padding: 10px">
      {% block content %}{% endblock %}
    </div>
    <div class="col-xs-3 col-md-2">
    </div>
  </div>
</div>



<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background:rgb(33,37,41);">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2" style="color:rgba(255,255,255,.75);">
        <h5>WallStreetBets :: Data Analytics (Coming Soon?)</h5>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->
  


</footer>
<!-- Footer -->

</body>

</html>